<html>

<head>
    <meta charset="utf-8">
    <title>Vue JS 2 Tutorial</title>
    <link href="style.css" rel="stylesheet">
    <script src="vue.js"></script>
    <script src="vue-router.js"></script>
</head>

<body>
    <div id="app">
        <table>
            <thead>
                <tr>
                    <td>method方法</td>
                    <td>
                        <h1>{{greet('moring')}}</h1>
                    </td>
                </tr>
                <tr>
                    <td>数据绑定文本{{}}</td>
                    <td>
                        <p>Name:{{name}}</p>
                    </td>
                </tr>
                <tr>
                    <td>v-bind数据绑定属性1</td>
                    <td>
                        <a v-bind:href="webSite">webSite</a>
                        <!-- <a :href="webSite">简写:href webSite</a> -->
                    </td>
                </tr>
                <tr>
                    <td>v-bind数据绑定2缩写为:</td>
                    <td>
                        <input type="text" :value="job">
                    </td>
                </tr>
                <tr>
                    <td>v-html标签</td>
                    <td>
                        <p v-html="webSiteTag"></p>
                    </td>
                </tr>
                <tr>
                    <td>v-if指令 ：是否插入元素</td>
                    <td>
                        <p v-if=false>你看不到我</p>
                        <p v-if=1>现在你看到我了</p>
                        <p v-if="seen">加冒号会默认读取data的值</p>
                    </td>
                </tr>
                <tr>
                    <td>v-model双向绑定</td>
                    <td>
                        <p>msg:{{msg}}</p>
                        <br/>
                        <input type="text" v-model="msg" />
                    </td>
                </tr>
                <tr>
                    <td>v-on事件绑定</td>
                    <td>
                        {{msg}}&nbsp;&nbsp;
                        <button v-on:click="btnClick()">点我反转</button> &nbsp;&nbsp;
                        <button @click='btnClick'>v-on还能简写@click</button>
                    </td>
                </tr>
                <tr>
                    <td>filters|过滤器首字母大写</td>
                    <td>{{msg|filterA}}</td>
                </tr>
                <tr>
                    <td>filters|过滤器传参</td>
                    <td>{{'2010-11-01'|filterB('-')}}</td>
                </tr>
                <tr>
                    <td>v-if v-else v-else-if</td>
                    <td v-if="ok==true">v-if如果ok=true插入元素</td>
                    <td v-else>false 否则显示这个v-else</td>
                    <td v-else-if="ok==undefined">undefined v-else-if</td>
                </tr>
                <tr>
                    <td>v-show</td>
                    <td v-show="ok">ok为真时显示</td>
                </tr>
                <tr>
                    <td>v-for循环迭代</td>
                    <td>
                        <ul>
                            <li v-for="item in fruit">{{item.name}}</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>v-for循环迭代对象属性</td>
                    <td>
                        <ol>
                            <li v-for="(value,key,index) in object">{{index}} {{key}} {{value}}</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>v-for迭代证书</td>
                    <td>
                        <ol>
                            <li v-for="i in 3">{{i}}</li>
                        </ol>
                    </td>
                </tr>
            </thead>
        </table>
        <table>
            <tr>
                <td>computed 计算属性</td>
                <td>
                    {{reversedMsg}}
                </td>
            </tr>
            <tr>
                <td>computed 计算属性的get和set</td>
                <td>
                    {{date}}
                </td>
            </tr>
            <tr>
                <td>watch 监控属性</td>
                <td>
                    <ul>
                        <li>长:
                            <input type="text" v-model.number.lazy="rectangle.width"></input>
                        </li>
                        <li>高:
                            <input type="text" v-model.trim="rectangle.height"></input>
                        </li>
                        <li>面积:
                            <input type="text" v-model="rectangle.area"></input>
                        </li>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>v-bind:class 样式绑定</td>
                <td>
                    <div :class="{active:undefined}"></div>
                    <div :class="{active:true}"></div>
                </td>
            </tr>
            <tr>
                <td>v-bind:class 样式批量绑定</td>
                <td>
                    <div :class="classObj"></div>
                    <div v-bind:class="['danger','active']"></div>
                </td>
            </tr>
            <tr>
                <td>v-on 事件处理器</td>
                <td>
                    <button @click="showText">v-on触发弹框</button>
                </td>

                <!-- 阻止单击事件冒泡
                <a v-on:click.stop="doThis"></a>
                <!-- 提交事件不再重载页面 -->
                <!-- <form v-on:submit.prevent="onSubmit"></form> -->
                <!-- 修饰符可以串联  -->
                <!-- <a v-on:click.stop.prevent="doThat"></a> -->
                <!-- 只有修饰符 -->
                <!-- <form v-on:submit.prevent></form> -->
                <!-- 添加事件侦听器时使用事件捕获模式 -->
                <!-- <div v-on:click.capture="doThis">...</div> -->
                <!-- 只当事件在该元素本身（而不是子元素）触发时触发回调 -->
                <!-- <div v-on:click.self="doThat">...</div> -->

                <!-- click 事件只能点击一次，2.1.4版本新增 -->
                <!-- <a v-on:click.once="doThis"></a> -->
                <!--按键修饰符-->
                <!-- 只有在 keyCode 是 13 时调用 vm.submit() -->
                <!-- <input v-on:keyup.13="submit"> -->
            </tr>
            <tr>
                <td>复选框</td>
                <td>
                    <ul>
                        <li>
                            <p>单个复选框</p>
                            <input type="checkbox" id="checkbox" v-model="checked">
                            <label for="checkbox">{{checked}}</label>
                        </li>
                        <li>
                            <p>多个复选框</p>
                            <input type="checkbox" id="checkedAll" v-model="checkedAll" v-on:change="checkAll()">
                            <label for="checkedAll">全选：{{checkedAll==true?'是':'否'}}</label>
                        </li>
                        <li>
                            <input type="checkbox" id="Baidu" value="Baidu" v-model="checkedNames"></input>
                            <label for="Baidu">百度</label>
                            <input type="checkbox" id="Google" value="Google" v-model="checkedNames"></input>
                            <label for="Google">谷歌</label>
                            <input type="checkbox" id="Tencent" value="Tencent" v-model="checkedNames"></input>
                            <label for="Tencent">腾讯</label>
                        </li>
                        <li>
                            <span>选择的值为：{{checkedNames}}</span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>单选框</td>
                <td>
                    <input type="radio" id="baidu" value="baidu" v-model="picked"></input>
                    <label for="baidu">百度</label>
                    <input type="radio" id="google" value="google" v-model="picked">
                    <label for="google">谷歌</label>
                    <p>选择的值:{{picked}}</p>
                </td>
            </tr>
            <tr>
                <td>下拉框</td>
                <td>
                    <select v-model="selected">
                        <option v-for="item in fruit">{{item.name}}</option>
                    </select>
                    <p>选择的水果：{{selected}}</p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Vue.component 全局组件</td>
                <td>
                    <top></top>
                </td>
            </tr>
            <tr>
                <td>components局部组件</td>
                <td>
                    <foot></foot>
                </td>
            </tr>
            <tr>
                <td>props 给组件传值</td>
                <td>
                    <top msg='。'></top>
                </td>
            </tr>
            <tr>
                <td>动态Prop</td>
                <td>
                    <top v-bind:msg="msg"></top>
                </td>
            </tr>
            <tr>
                <td>Props实例</td>
                <td>
                    <ol>
                        <todo-item v-for="item in fruit" v-bind:todo="item"></todo-item>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>自定义事件的组件</td>
                <td>
                    <ul>
                        <li><button-counter v-on:add="addTotal"></button-counter></li>
                        <li><button-counter v-on:add="addTotal"></button-counter></li>
                    </ul>
                    <p>total:{{total}}</p>
                </td>
            </tr>
            <tr>
                <td>router路由实例</td>
                <td>
                    <ul>
                        <li>
                            <router-link to="/a">去A页面</router-link>
                            <router-link to="/b">去B页面</router-link>
                        </li>
                        <li>
                            <router-view></router-view>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
        
    </div>
    <script src="app.js"></script>
</body>
</html>